.DS_Store
_gpx_analyzer-app/node_modules
_gpx_analyzer-app/dist
_gpx_analyzer-app/package-lock.json
_gpx_analyzer-proxy/node_modules
_gpx_analyzer-proxy/package-lock.json


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
