@use 'libraries/gerillass/gerillass';

/** CUSTOM CLASS **/
.w-boxed {
  width: 100%;
  max-width: var(--wrapper);
  margin: 0 auto;
}

/** RESPONSIVE **/

@media only screen and (max-width: 768px), (min-device-pixel-ratio: 2) and (max-width: 1536px) {

}

@media only screen and (max-width: 680px), (min-device-pixel-ratio: 2) and (max-width: 1360px) {

}