$devices: desktop 0 1025,
          from-tablet 1024,
          from-tablet-small 940,
          tablet 1024 768,
          from-mobile 767,
          mobile 767 481,
          mobile-small 480;

@mixin device($dev) {
    @each $device in $devices {
        @if(nth($device, 1) == $dev) {
            @if(nth($device, 2) == 0) {
                @if(str-index(nth($device, 1), '-portrait')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (min-width: #{nth($device, 3)*2px}) and (orientation: portrait), (min-width: #{nth($device, 3)*1px}) and (orientation : portrait) { @content; }
                } @else if(str-index(nth($device, 1), '-landscape')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (min-width: #{nth($device, 3)*2px}) and (orientation: landscape), (min-width: #{nth($device, 3)*1px}) and (orientation : landscape) { @content; }
                } @else {
                    @media only screen and (min-device-pixel-ratio: 2) and (min-width: #{nth($device, 3)*2px}), (min-width: #{nth($device, 3)*1px}) { @content; }
                }
            } @else if(length($device) == 2) {
                @if(str-index(nth($device, 1), '-portrait')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}) and (orientation: portrait), (max-width: #{nth($device, 2)*1px}) and (orientation : portrait) { @content; }
                } @else if(str-index(nth($device, 1), '-landscape')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}) and (orientation: landscape), (max-width: #{nth($device, 2)*1px}) and (orientation: landscape) { @content; }
                } @else {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}), (max-width: #{nth($device, 2)*1px}) { @content; }
                }
            } @else {
                @if(str-index(nth($device, 1), '-portrait')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}) and (min-width: #{nth($device, 3)*2px}) and (orientation: portrait), (max-width: #{nth($device, 2)*1px}) and (min-width: #{nth($device, 3)*1px}) and (orientation : portrait) { @content; }
                } @else if(str-index(nth($device, 1), '-landscape')) {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}) and (min-width: #{nth($device, 3)*2px}) and (orientation: landscape), (max-device-width: #{nth($device, 2)*1px}) and (min-width: #{nth($device, 3)*1px}) and (orientation: landscape) { @content; }
                } @else {
                    @media only screen and (min-device-pixel-ratio: 2) and (max-width: #{nth($device, 2)*2px}) and (min-width: #{nth($device, 3)*2px}), (max-width: #{nth($device, 2)*1px}) and (min-width: #{nth($device, 3)*1px}) { @content; }
                }
            }
        }
    }
}

// CUSTOM MEDIA QUERY
@mixin media($min, $max) {
    @if($min == null) {
        @media only screen and (max-device-pixel-ratio: 2) and (max-width: $max*2px), (max-width: $max*1px) { @content; }
    } @else if($max == null) {
        @media only screen and (min-device-pixel-ratio: 2) and (min-width: $min*2px), (min-width: $min*1px) { @content; }
    } @else {
        @media only screen and (min-device-pixel-ratio: 2) and (max-width: $max*2px) and (min-width: $min*2px), (max-width: $max*1px) and (min-width: $min*1px) { @content; }
    }
}